/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* Стили для глобальных тегов ( Д.25: допускается стилизовать теги html, body, a, img.) */
body {
	font-size: 16px;
	font-family: "RobotoBold", "Arial", sans-serif;
	line-height: 22px;
	color: #ffffff;
	background-color: #849d8f;
}

a {
	color: #ffffff;
}

/* Стилизуем index.html */

/* header*/

/* Главное меню навигации */
.main_menu {
	line-height: 18px;
}

/* Подменю при наведении на Каталог */
.sub_menu {
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 14px;
	line-height: 16px;
}

.sub_menu li:first-child {
	font-family: "RobotoBold", "Arial", sans-serif;
}

.sub_menu a {
	color: #323232;
	text-decoration: none;
}

/* Юзерблок Поиск, Вход и Корзина */
.btn_enter a,
.basket a {
	font-family: "RobotoMedium", "Arial", sans-serif;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
}

.user_login a {
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	text-decoration: underline;
}

/* Контактная информация (блок contact_info) */
.schedule {
	font-size: 14px;
	line-height: 16px;
}

.phone {
	font-size: 22px;
	line-height: 24px;
}

/* Стилизуем main */
/* Блок со слайдерами */
.sliders h2 {
	font-size: 60px;
	line-height: 60.35px;
}

.sliders a {
	font-size: 32px;
	line-height: 44px;
	text-decoration: none;
}

/* Промо блок под слайдерами */
.promo_wrapper {
	font-size: 18px;
	line-height: 22px;
}

.promo_title {
	font-size: 35px;
	line-height: 41px;
}

/* Карточки товаров */
.product_item a {
	text-decoration: none;
}

.product_title {
	font-family: "Roboto Medium", "Arial", sans-serif;
}

.price {
	font-size: 45px;
	line-height: 45px;
}

.kg {
	font-size: 30px;
}

.product_item .btn {
	font-size: 18px;
	line-height: 24px;
}

/* Блок с представлением и описанием магазина  */
/* Для трёх блоков сразу цвет задам */
.introduction,
.blog_news,
.location {
	color: #323232;
}

.introduction h1 {
	font-family: "RobotoMedium", "Arial", sans-serif;
	font-size: 24px;
	line-height: 30px;
}

.introduction_wrapper {
	font-family: "RobotoRegular", "Arial", sans-serif;
}

/* Блок с новостями блога и email-подпиской */
.blog_news p {
	font-family: "RobotoMedium", "Arial", sans-serif;
}

.blog_news a {
	font-size: 24px;
	line-height: 30px;
	text-decoration: underline;
	color: #323232;
}

.emailing_news {
	font-family: "RobotoRegular", "Arial", sans-serif;
	color: #5a5a5a;
}

/* Блок с картой*/
.location_info span {
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.location_info .address {
	font-size: 18px;
	line-height: 24px;
}

.location_info .location_phone{
	font-size: 18px;
	line-height: 22px;
}

.location_info .location_shedule {
	line-height: 22px;
}

/* Стилизуем подвал footer */
.footer_links {
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.footer_links li:first-child {
	font-family: "RobotoBold", "Arial", sans-serif;
}

.footer_copyright {
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 12px;
	line-height: 18px;
}

/* Стилизуем catalog.html */

/* Хлебные крошки в header */
.breadcrumbs {
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 14px;
	line-height: 16px;
}

/* main */
.page_title {
	font-size: 35px;
	line-height: 41px;
}

.pagination {
	font-family: "RobotoMedium", "Arial", sans-serif;
	line-height: 18px;
}

.pagination li:nth-child(2) {
	color: #323232;
}