/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* Стили для глобальных тегов ( Д.25: допускается стилизовать теги html, body, a, img.) */
body {
	margin: 0;
	font-size: 16px;
	font-family: "RobotoBold", "Arial", sans-serif;
	line-height: 22px;
	color: #ffffff;
	background-color: #7d7c7c;
	/*background-image: url("../../../psd/gllacy/gllacy/preview/gllacy-index-1200.jpg");*/
}

a {
	color: #fff;
	text-decoration-color: rgba(255,255,255,0.3)
}

/*Убираем у всех img внутри a белую рамку в ie10*/
a img {
	border: none;
}

/* Стилизуем index.html */

/* Главная обёртка */
.wrapper {
	background-color: #849d8f;
}

.wrapper li {
	list-style: none; /* Убрал маркер у всех li */
}

.wrapper ul {
	padding: 0; /* Убрал отсутп в 40 px у всех ul */
}

/* Для центровщика */
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 27px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* header*/

.header_first_line {
	display: flex;
	justify-content: space-between;
}

.header_second_line {
	display: flex;
	justify-content: flex-end;
}

/* Главное меню навигации */
/* Сделал флекс-контейнером ul внутри .main_menu, li-шки стали флекс-элементами */
.main_menu > ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
}

.main_menu {
	width: 853px;
	line-height: 18px;
}

.main_menu li {
	margin-right: 20px;
}

.main_logo {
	padding-top: 8px;
}

.user_block {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 293px;
}

/* Подменю при наведении на Каталог, скрыто */

.sub_menu {
	display: none;
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 14px;
	line-height: 16px;
}

.sub_menu li:first-child {
	font-family: "RobotoBold", "Arial", sans-serif;
}

.sub_menu a {
	color: #323232;
}

/* Юзерблок Поиск, Вход и Корзина */

/* Скрыл попапы*/
.user_block form {
	display: none;
}

.search,
.btn_enter,
.basket {
	margin: 0 0 0 50px; /* Отступы флекс элементам Поиск, Вход, Корзина */
}

.btn_enter a,
.basket a {
	font-family: "RobotoMedium", "Arial", sans-serif;
	font-size: 14px;
	line-height: 16px;
}

.user_login a {
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	text-decoration: underline;
}

/* Контактная информация (блок contact_info) */
.contact_info {
}

.schedule {
	margin: 0;
	font-size: 14px;
	line-height: 16px;
	text-align: right;
}

.phone {
	margin: 0;
	/*margin: 5px 0 0 0;*/
	font-size: 22px;
	line-height: 24px;
}

/* Стилизуем main */
/* Блок со слайдерами */
#second_slide,
#third_slide {
	display: none;
}

.sliders {
	text-align: center;
}

.slide {
	padding: 250px 0 0 0;
}

.sliders h2 {
	font-size: 60px;
	line-height: 60.35px;
}

.sliders a {
	font-size: 32px;
	line-height: 44px;
}

/* Промо блок под слайдерами */
.promo_wrapper {
	display: flex;
	justify-content: space-between;
	height: 230px;
	margin: 0 0 39px 0;
	font-size: 18px;
	line-height: 22px;
} 

.promo {
		width: 540px;
}

.promo_left{
		margin-right: 25px;
		background: url("../img/raspberry_backgr.png") no-repeat;
}

.promo_right{
		background: url("../img/chocolate_backgr.png") no-repeat;
}

.promo,
.blog_news,
.emailing_news {
	padding: 0 20px 10px 20px;
}

.promo_title {
	font-size: 35px;
	line-height: 41px;
}

.promo a {
	display: block;
	text-align: right;
}

/* Карточки товаров */
.products {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.products article {
	width: 267px;
}

.product_item a,
.product_item .btn {
	text-align: center;
}

.product_title {
	font-family: "Roboto Medium", "Arial", sans-serif;
	text-align: center;
}

.price {
	font-size: 45px;
	line-height: 45px;
}

.kg {
	font-size: 30px;
}

.product_item .btn {
	font-size: 18px;
	line-height: 24px;
}

/* Блок с представлением и описанием магазина  */
/* Для трёх блоков сразу цвет задам */
.introduction,
.blog_news,
.location {
	color: #323232;
}

.introduction {
	margin: 0 0 40px 0;
	border-radius: 19px;
	background-image: url("../img/center_block_backgr.jpg");
}

.introduction h1 {
	margin: 0;
	padding: 20px 20px 0 20px;
	font-family: "RobotoMedium", "Arial", sans-serif;
	font-size: 24px;
	line-height: 30px;
}

.introduction li {

	width: 50%;
	margin: 0 0 0 20px;
	padding: 9px;
}

/* .introduction_wrapper div {
	width: 540px;
	padding: 0 40px 0 50px;
} */

.introduction ul {
	font-family: "RobotoRegular", "Arial", sans-serif;
}

/* Блок с новостями блога и email-подпиской */
.news {
	display: flex;
	justify-content: space-between;
	height: 220px;
	margin: 0 0 39px 0;
}

.blog_news {
	width: 540px;
	margin-right: 25px;
	background-image: url("../img/strawberry_backgr.jpg");
	background-repeat: no-repeat;
	border-radius: 19px;
}

.emailing_news {
	width: 540px;
	background-image: url("../img/emailing.jpg");
	background-repeat: no-repeat;
	border-radius: 19px;
}

.blog_news,
.emailing_news {
	width: 560px;
}

.blog_news p {
	font-family: "RobotoMedium", "Arial", sans-serif;
}

.blog_news a {
	font-size: 24px;
	line-height: 30px;
	text-decoration: underline;
	color: #323232;
}

.emailing_news {
	font-family: "RobotoRegular", "Arial", sans-serif;
	color: #5a5a5a;
}

/* Блок с картой*/
.form_feedback {
	display: none;
}

.location {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

.location_info {
	position: absolute;
	top: 10px;
	right: 27px;
	padding: 32px 25px 25px 25px;
	background: #fff;
	border-radius: 19px;
}

.location_info span {
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.location_info .address {
	font-size: 18px;
	line-height: 24px;
}

.location_info .location_phone{
	font-size: 18px;
	line-height: 22px;
}

.location_info .location_shedule {
	line-height: 22px;
}

/* Стилизуем подвал footer */
.footer_wrapper  {
	display: flex;
	align-items: center;
	height: 103px;
}

.footer_social {
	width: 293px;
	font-size: 13px;
}

.footer_links {
	width: 663px;
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	/*text-align: center;*/
}

.footer_links ul {
	display: flex;
	justify-content: center;

}

.footer_links div {
	padding: 0 0 0 20px;
}

.footer_links_wrap li:first-child {
	font-family: "RobotoBold", "Arial", sans-serif;
	list-style-image: url("../img/heart.png")
}

.footer_copyright {
	width: 190px;
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 12px;
	line-height: 18px;
}

.footer_copyright span { /* Для переноса "Сделано в ... */
	display: block;
}

/* Стилизуем catalog.html */

/* Хлебные крошки в header */
.breadcrumbs ul {
	display: flex;
}

.breadcrumbs li {
	margin-right: 20px;
}

.breadcrumbs {
	width: 985px;
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 14px;
	line-height: 16px;
}

/* main */
.page_title {
	font-size: 35px;
	line-height: 41px;
}

.pagination {
	font-family: "RobotoMedium", "Arial", sans-serif;
	line-height: 18px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.pagination ul {
	display: flex;
	justify-content: flex-end;
	width: 1146px;
}

.pagination li {

}

.pagination li:nth-child(2) {
	color: #323232;
}