/* font-family: "RobotoRegular"; */
@font-face {
		font-family: "RobotoRegular";
		src: url("../fonts/RobotoRegular/RobotoRegular.eot");
		src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
		url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
		font-family: "RobotoMedium";
		src: url("../fonts/RobotoMedium/RobotoMedium.eot");
		src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
		url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
		url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
		font-family: "RobotoBold";
		src: url("../fonts/RobotoBold/RobotoBold.eot");
		src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
		url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

/* Стили для глобальных тегов ( Д.25: допускается стилизовать теги html, body, a, img.) */
body {
	margin: 0;
	font-size: 16px;
	font-family: "RobotoBold", "Arial", sans-serif;
	line-height: 22px;
	color: #ffffff;
	background: #849d8f;
}

body > input[type="radio"] {  /*Прячем инпуты, управляющие слайдами */
	display: none;
}

a {
	color: #fff;
	text-decoration: none;
}

/*Убираем у всех img внутри a белую рамку в ie10*/
a img {
	border: none;
}

/* Стилизуем index.html */

/* Главная обёртка */

.wrapper {
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.wrapper::before,
.wrapper::after {
	content: "";

	visibility: hidden;
}

.wrapper::before {
	background: url("../img/backgr_img_2.png");
}

.wrapper::after {
	background: url("../img/backgr_img_2.png");
}

/* Для центровщика */
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 27px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* header*/

.header_first_line {
	display: flex;
	justify-content: space-between;
}

.header_second_line {
	display: flex;
	justify-content: flex-end;
}

/* Главное меню навигации */
/* Сделал флекс-контейнером ul внутри .main_menu, li-шки стали флекс-элементами */
.main_menu > ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
}

.main_menu a {
	padding: 5px 12px;
}

.main_menu span { /* Подчеркивание элементов .main_menu */
	border-bottom: 1px solid rgba(255,255,255, 0.3);
}

.main_menu li {
	padding: 0 12px 10px 0;
	list-style: none;
}

.main_menu .active > a {
	color: rgb(255, 255, 255);
	background: rgb(208, 112, 88);
	border-radius: 15px;
}

.main_menu .active:hover > a { /* Чтобы стиль при наведении оставался неизменным в catalo.html */
	color: rgb(255, 255, 255);
	background: rgb(208, 112, 88);
}

.main_menu .active span {
	border-bottom: none;
}

.main_menu > li:first-child {
	margin-right: 24px;
	padding: 0;
}

.main_menu li:nth-child(2) {
	position: relative;
}

.main_menu > ul > li:hover > a { /* Так наведение работает только на ссылки в main_menu*/
	background: #f7f6f3;
	color: #323232;
	border-radius: 20px;
}

.main_menu > ul > li:first-child > a:hover,
.main_menu > ul > li:first-child:hover > a { /* Убрал бэкграунд при наведении у лого в странице каталога */
	background: inherit;
}

.main_menu > ul > li:first-child > a:active { /* Убрал тень при клике у лого в странице каталога */
	box-shadow: none;
}

.main_menu a:hover span { /* Убирает подчеркивание при наведении у элементов меню*/ 
	border-bottom: none;
}

.main_menu > ul > li > a:active {
	box-shadow: inset 0 2px 2px rgba(102, 102, 102, 1);
}

.main_menu .main_logo {
	margin-right: 17px;
	padding: 0;
	padding-top: 8px;
}

.main_menu .main_logo a {
	padding: 0;
}

/* Подменю при наведении на Каталог */

.main_menu li:hover .sub_menu { /*Наведение на каталог и выпадающее меню */
		display: block;
}

.sub_menu {
		position: absolute;
		top: 32px;
		left: -8px;
		z-index: 10;

		display: none;
		width: 143px;
		margin: 0;
		padding: 0;

		font-family: "RobotoRegular", "Arial", sans-serif;
		font-size: 14px;
		line-height: 16px;

		background: rgb(248, 247, 244);
		border-radius: 5px;
		box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.sub_menu li {
		margin: 0;
		padding: 9px 20px;
}

.sub_menu .sub_active, /* Выделение цветом активного элемента сабменю*/
.sub_menu .sub_active:hover,
.sub_menu .sub_active:active {
	background: #d07058;
}

.sub_menu li:first-child {
		font-family: "RobotoBold", "Arial", sans-serif;
		border-bottom: 1px solid #d1d0ce;
}

.sub_menu li:first-child:hover {
	border-radius: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.sub_menu li:last-child:hover {
	border-radius: 5px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.sub_menu li:hover {
	background: #fbded7;
	border-radius: 0;
}

.sub_menu li:active {
	background: #f6b5a5;
	box-shadow: none;
}

.sub_menu a {
	padding: 0;
	color: #323232;
}

.sub_active a {
	color: white;
}

/* Юзерблок Поиск, Вход и Корзина */

.user_block {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 293px;
}

.user_block input:focus {
	padding-left: 13px;
	border: 2px solid rgba(46, 136, 228, 0.5);
	outline: none; /* Убирает синюю рамку в Chrome*/
}

.user_block .login,
.user_block .basket_block > a {
	display: block;
	width: 92px;
	height: 16px;
	padding: 8px 0 8px 15px;
	text-align: center;
	text-decoration: none;
}

.user_block .basket_block > a {
	padding-left: 20px;
}

.basket_block form {
	display: none;
}

.search_block {
	position: relative;

	padding: 10px 0;
}

.search_block div {
	width: 32px;
	height: 32px;
	margin: 0 0 0 10px;

	background: rgba(255, 255, 255, 0.2) url("../img/header_sprite.png") no-repeat;
	background-position: 2px -125px;
	border-radius: 50%
}

.search_block:hover div {
	background: #f8f7f4 url("../img/header_sprite.png") no-repeat;
	background-position: 2px -154px;	border-radius: 50%;
}

.search_block:hover form {
	display: block;
}

.search_block form {
	position: absolute;
	top: 51px;
	right: 0;

	display: none;
	box-sizing: border-box;
	width: 341px;
	height: 84px;
	padding: 20px 15px;

	background: rgb(248, 247, 244);
	border-radius: 6px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search_block input {
	box-sizing: border-box;
	width: 311px;
	height: 44px;
	padding: 14px;

	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.entry_block {
	padding: 10px 0;	
}

.entry_block .login {

	font-family: "RobotoMedium", "Arial", sans-serif;
	font-size: 14px;
	line-height: 16px;

	border-radius: 20px;
	background: rgba(255, 255, 255, 0.2) url("../img/header_sprite.png") no-repeat;
	background-position: 12px -63px;

}

.entry_block:hover .login {
	color: #323232;
	background: #f8f7f4 url("../img/header_sprite.png") no-repeat;
	background-position: 12px -94px;
}

.entry_block {
	position: relative;
	margin: 0 0 0 10px;
}

.entry_block form {
	position: absolute;
	top: 51px;
	right: 1px;
	z-index: 20;

	display: none;
	box-sizing: border-box;
	width: 277px;
	padding: 20px;

	background: rgb(248, 247, 244);
	border-radius: 6px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.entry_block:hover form {
	display: block;
}

.entry_block input {
	box-sizing: border-box;
	width: 100%;
	height: 44px;
	margin-bottom: 20px;
	padding: 14px;

	background: rgb(255, 255, 255);
	border: 1px solid rgb(211, 211, 210);
	border-radius: 5px;
}

.user_login a {
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	text-decoration: underline;
}

.user_login div {
	float: right;
	width: 130px;
}

.entry_block .btn { /* Кнопка Войти в попапе Входа */
	float: left;
	padding: 10px 20px;

	font-family: "RobotoBold", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	border: none;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);

	outline: none;
}

.entry_block .btn:hover {
	background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.entry_block .btn:active {
	background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.basket_block {
	position: relative;

	margin: 0 0 0 10px;
	padding: 10px 0;
}

.basket_block > a {
	font-family: "RobotoMedium", "Arial", sans-serif;
	font-size: 14px;
	line-height: 16px;

	background: rgba(255, 255, 255, 0.2) url("../img/header_sprite.png") no-repeat;
	background-position: 6px -32px;
	border-radius: 20px;
}

.basket_block .basketful { /* Корзина с товарами */
	color: #323232;
	background: #f8f7f4 url("../img/header_sprite.png") no-repeat;
	background-position: 6px 0;
}

.order {
	position: absolute;
	top: 51px;
	right: 0;
	z-index: 30;

	display: none;
	box-sizing: border-box;
	width: 539px;
	padding: 10px 15px 20px 10px;

	border-radius: 5px;
	background-color: rgb(248, 247, 244);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

/* Таблица попапа с заказом */

.order table {
	width: 100%;
}

.order table,
.order a {

	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #323232;

}

.order td {
	padding: 5px 5px 13px 5px;
}

.order tr:last-child {

	text-align: right;
	font-family: "RobotoBold", "Arial", sans-serif;
	font-size: 15px;
	line-height: 18px;

}

.order .total { /* Итого в таблице заказа */
	padding-top: 16px;
	border-top: 1px solid #cacac7;
}

.order span { /* Цена за килограм, серая */
	color: #cacac7;
}

.basket_block:hover .order { /* Выпадающая таблица с заказами */
	display: block;
}

.order .checkout_btn {
	float: right;

	padding: 10px 13px;

	font-family: "RobotoBold", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	border: none;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.order .checkout_btn:hover {
	background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.order .checkout_btn:active {
	background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* Контактная информация (блок contact_info) */

.schedule {
	margin: 0;
	font-size: 14px;
	line-height: 16px;
	text-align: right;
}

.phone {
	margin: 0;
	font-size: 22px;
	line-height: 24px;
}

/* Стилизуем main */
/* Блок со слайдерами */

.sliders {
	position: relative;

	margin: 0 0 40px 0;

	text-align: center;
	color: #ffffff;
}

.slide_title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding-top: 270px;	

	font-size: 60px;
	line-height: 60.35px;
}

/*.sliders h2 {
	width: 700px;
	padding-top: 270px;
	font-size: 60px;
	line-height: 60.35px;
}*/

.slide_switch { /* Спозиционировали блок с кнопками переключения слайдов*/
	position: absolute;
	bottom: 25px;
	left: 0;
	z-index: 20;

	font-size: 0;
}

.slide_switch label { /* Нарисовали кнопки переключения слайдов */
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;

	vertical-align: top;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;

	cursor: pointer;
}

.slide {
	display: none;
}

#first_slide:checked ~ .wrapper #slide1, /* Отображаем название слайда*/
#second_slide:checked ~ .wrapper #slide2,
#third_slide:checked ~ .wrapper #slide3 {
	display: block;
}

#first_slide:checked ~ .wrapper label[for="first_slide"], /* Заливам фон у кнопок-переключаетелей слайдов */
#second_slide:checked ~ .wrapper label[for="second_slide"],
#third_slide:checked ~ .wrapper label[for="third_slide"] {
	background: #ffffff;
}

#first_slide:checked ~ .wrapper {
	background: #849d8f url("../img/backgr_img_1.png") no-repeat top center;
}

#second_slide:checked ~ .wrapper {
	background: #8996a6 url("../img/backgr_img_2.png") no-repeat top center;
}

#third_slide:checked ~ .wrapper {
	background: #9d8b84 url("../img/backgr_img_3.png") no-repeat top center;
}

.sliders a {
	font-size: 32px;
	line-height: 44px;
}

.slide_btn {
	display: inline-block;
	padding: 12px 50px;

	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide_btn:hover {
	background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide_btn:active {
	background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* Промо блок под слайдерами */
.promo_wrapper {
	display: flex;
	justify-content: space-between;
	margin: 0 0 40px 0;
	font-size: 18px;
	line-height: 22px;
} 

.promo {
		position: relative;
		width: 520px;
		padding: 15px 20px 89px 20px;
}

.promo_left{
		margin: 0 25px 0 0;
		background: #d3587e url("../img/raspberry_backgr.jpg") no-repeat;
		background-size: cover;
		border-radius: 15px;
}

.promo_right{
		background: #6c5453 url("../img/chocolate_backgr.jpg") no-repeat;
		background-size: cover;
		border-radius: 15px;
}

.promo_btn {
	position: absolute;
	right: 20px;
	bottom: 25px;

	display: inline-block;
	padding: 12px 25px;

	font-size: 18px;
	line-height: 24px;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.promo_btn:hover {
	background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.promo_btn:active {
	background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.promo_title {
	margin: 0;
	padding: 0;
	font-size: 35px;
	line-height: 41px;
}

.promo a {
	/*display: block;*/
	text-align: right;
}

/* Карточки товаров */
.products {

	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: top;

	margin-bottom: -42px;
}

.products article {
	width: 267px;
	text-align: center;
	word-wrap: break-word;
}

.product_item > a {
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 293px;
	padding: 10px 13px;
	padding-bottom: 69px;
	border-radius: 5px;
}

.product_item:hover a {

	background: rgba(255,255,255,0.2);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.product_item:hover > a .products_btn {
	display: block;
}

.product_title {
	margin: 9px 0;
	font-family: "Roboto Medium", "Arial", sans-serif;
}

.product_title span { /* Подчеркивание наименований внутри класса .product_title */
	border-bottom: 1px solid rgba(255,255,255, 0.3);
}

.product_item:hover span {
	border-bottom: none;
}

.container.wrap {
	padding: 0 26px 0 2px;
}

/* Иконка хита */
.product_hit > a::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 13px;
	z-index: 10;

	width: 61px;
	height: 61px;

	background: url("../img/hit.png") no-repeat;
	border-radius: 50%;
}

.price {
	position: absolute;
	top: 220px;

	margin: 0;

	font-size: 45px;
	line-height: 45px;
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.products_btn {
	position: absolute;
	left: 50px;
	bottom: 0;

	display: none;
	padding: 12px 17px;

	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.products_btn:hover {
	background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.products_btn:active {
	background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.kg {
	font-size: 30px;
}

.product_item .btn {
	font-size: 18px;
	line-height: 24px;
}

/* Блок с представлением и описанием магазина  */
/* Для трёх блоков сразу цвет задам */
.introduction,
.blog_news,
.location {
	color: #323232;
}

.introduction {
	margin: 0 0 40px 0;
	padding: 25px 20px 0 20px;
	border-radius: 19px;
	color: #323232;
	background: #e8d6b2 url("../img/center_block_backgr2.jpg");
}

.introduction h1 {
	margin: 0;
	padding: 0 0 20px 0;
	font-family: "RobotoMedium", "Arial", sans-serif;
	font-size: 24px;
	line-height: 30px;
}

.introduction ul {
	padding: 0;
	font-size: 0;
	font-family: "RobotoRegular", "Arial", sans-serif;
}

.introduction li {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	width: 50%;
	margin: 0 0 25px 0;
	padding: 0 20px 0 65px;
	font-size: 16px;
	line-height: 22px;
	vertical-align: top;
}

.introduction li:nth-child(2n) {
	padding-right: 0;
}

.introduction li::before {
	content: "";
	position: absolute;
	top: -10px;
	left: 0;
	width: 49px;
	height: 49px;
	background: url("../img/ico_seo_spite.png") no-repeat;
	border-radius: 50%;
}

.introduction .introduction_list_1::before {
	 background-position: -48px 0;
}

.introduction .introduction_list_3::before {
	 background-position: -96px 0;
}

.introduction .introduction_list_4::before {
	 background-position-x: -145px;
}

/* Блок с новостями блога и email-подпиской */
.news {
	display: flex;
	justify-content: space-between;
	margin: 0 0 40px 0;
}

.blog_news {
	width: 520px;
	margin: 0;
	padding: 23px 20px 82px 20px;

	background: #ffffff url("../img/strawberry_backgr.jpg") no-repeat;
	background-size: cover;
	border-radius: 15px;
}

.blog_news p {
	margin: 0;
	padding-bottom: 5px; 
	font-family: "RobotoMedium", "Arial", sans-serif;
}

.blog_news a {
	font-size: 24px;
	line-height: 30px;
	text-decoration: underline;
	color: #323232;
}

.blog_news a:hover {
	color: #e84d37;
}

.emailing_news {
	box-sizing: border-box;
	width: 560px;
	margin: 0;
	padding: 6px;
	background: url("../img/emailing_pattern.jpg");
	border-radius: 19px;
}

.emailing_news_wrapper {
	height: 100%;
	padding: 0 19px 0 20px;
	background: #f8f7f4;
	border-radius: 19px;
}

.emailing_news_wrapper p {
	padding-top: 28px;
}

.emailing_news_wrapper form {
	padding: 0 0 24px 0;
}

.emailing_news_wrapper input {
	box-sizing: border-box;
	width: 348px;
	height: 44px;
	margin-right: 5px;
	padding: 12px 14px;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.emailing_news_wrapper input:focus {
	padding-left: 13px;
	border: 2px solid rgba(46, 136, 228, 0.5);
	outline: none; /* Убирает синюю рамку в Chrome*/
}

.subscribe_btn {
	margin-left: 5px;
	padding: 10px 20px;

	font-family: "RobotoBold", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	border: none;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);

	outline: none;
}

.subscribe_btn:hover {
	background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.subscribe_btn:active {
	background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.emailing_news {
	font-family: "RobotoRegular", "Arial", sans-serif;
	color: #5a5a5a;
}

.emailing_news p {
	margin: 0 0 35px 0;
}

/* Блок с картой*/
.location .form_feedback {
	position: absolute;

	display: none;
}

.location {
	position: relative;
	width: 100%;
	min-height: 430px;
	background: #cee0c0 url('../img/map.jpg') no-repeat 50%;
	overflow: hidden; /* Скрыть содержимое потомков, которое выходит за границы этого блока*/
}

.location_info {
	position: absolute;
	top: 63px;
	bottom: 63px;
	left: calc(50% + 271px);

	box-sizing: border-box;
	width: 302px;
	/*height: 305px; Вообще убрал высоту, не могу сообразить как тут грамотно все сделать, пока отложил!*/
	margin: auto 0;
	padding: 27px 25px;
	
	background: #fff;
	border-radius: 15px;
}

.location_info span {
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.location_info .address {
	margin: 0 0 15px 0;
	font-size: 18px;
	line-height: 24px;
}

.location_info .location_phone{
	margin: 5px 0 2px 0;
	font-size: 18px;
	line-height: 22px;
}

.location_info .location_shedule {
	line-height: 22px;
}

.form_feedback {
	width: 318px;
	height: 277px;

	border-radius: 10px;
	background: rgb(248, 247, 244);
	
}

.form_feedback input {

}

.Поле_ввода_copy {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(178, 178, 178);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  opacity: 0.52;
  position: absolute;
  left: 857px;
  top: 2422px;
  width: 269px;
  height: 46px;
  z-index: 15;
}


.feedback_btn {
	width: 100%;
	margin-top: 23px;
	padding: 10px 20px;

	font-family: "RobotoBold", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	border: none;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);

	outline: none;
}

.feedback_btn:hover {
	background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.feedback_btn:active {
	background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


/* Стилизуем подвал footer */

.footer_wrapper  {
	display: flex;
	align-items: center;
	height: 103px;
}

.footer_social {
	font-size: 13px;
}

.social_btn {
	box-sizing: border-box;
	display: inline-block;
	width: 36px;
	height: 36px;
	margin: 0 5px;
	background: url("../img/footer_sprite.png") no-repeat;
	font-size: 0;
	border: 3px solid #c2cec7;
	border-radius: 50%;
	vertical-align: top;
}

.social_btn_twit {
	background-position: -115px -6px;
}

.social_btn_twit:active {
	box-shadow: inset 0 2px 1px 0 #9b9b9b;
}

.social_btn_inst {
	background-position: -73px -6px;
}

.social_btn_inst:active {
	box-shadow: inset 0 2px 1px 0 #9b9b9b;

}

.social_btn_fb {
	background-position: -31px -6px;
}

.social_btn_fb:active {
	box-shadow: inset 0 2px 1px 0 #9b9b9b;
}

.social_btn_vk {
	background-position: -157px -6px;
}

.social_btn_vk:active {
	box-shadow: inset 0 2px 1px 0 #9b9b9b;
}

.social_btn:hover {
	border: 3px solid #dae2de;
}

.social_btn:first-child {
	margin-left: 0;
}

.footer_links a,
.footer_copyright a {
	border-bottom: 1px solid rgba(255,255,255, 0.3);
}

.footer_links {
	width: 330px;
	margin: 0 auto;
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.footer_links a:hover,
.footer_copyright a:hover {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(249,172,159, 0.3);
}

.footer_links ul {
	position: relative;
	padding: 0;
	font-size: 0;
}

.footer_links li {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding: 0 0 0 20px;
	font-size: 13px;
}

.footer_links li:first-child::before {
	content: "";
	position: absolute;
	top: 3px;
	left: 1px;
	width: 15px;
	height: 13px;
	background: url("../img/footer_sprite.png") no-repeat;
	background-position: -5px -5px;
}

.footer_links li:nth-child(even) {
	padding-left: 0;
}

.footer_links li:first-child {
	font-family: "RobotoBold", "Arial", sans-serif;
}

.footer_copyright {
	width: 190px;
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 12px;
	line-height: 18px;
}

.footer_copyright span { /* Для переноса "Сделано в ... */
	display: block;
}

.footer_copyright .footer_logo {
	border-bottom: none;
}

.footer_copyright .footer_logo:hover {
	border-bottom: none;
}

/* Стилизуем catalog.html */

/* Хлебные крошки в header */
.breadcrumbs ul {
	display: flex;

	padding: 0;
}

.breadcrumbs li {
	position: relative;

	margin-right: 20px;

	list-style: none;
}

.breadcrumbs li::after {
	position: absolute;
	top: 0;
	right: -10px;

	content: '»';
}

.breadcrumbs li:last-child::after {
	display: none;
}

.breadcrumbs {
	width: 985px;
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 14px;
	line-height: 16px;
}

.breadcrumbs a {
	border-bottom: 1px solid rgba(255,255,255, 0.3);
}

.breadcrumbs a:hover {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(249,172,159, 0.3);
}

/* main */
.page_title {
	font-size: 35px;
	line-height: 41px;
}

.filters {
	margin-bottom: 40px;
}

.pagination {
	margin-top: 49px;

	font-family: "RobotoMedium", "Arial", sans-serif;
	line-height: 18px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.pagination ul {
	display: flex;
	justify-content: flex-end;

	width: 1146px;
	padding: 0;

	list-style: none;
}


.pagination a {
	
	width: 27px;
	height: 27px;
	margin-left: 2px;
	padding: 2px 8px;

	color: #ffffff;

}

.pagination .previos,
.pagination .next {
	background: inherit;
}

.pagination .previos {
	opacity: 0.3;
}

.pagination .current {
	color: #323232;
	border-radius: 50%;
	background: rgb(255, 255, 255);
}

.pagination .next {
	padding-right: 0;
}

.pagination .item:hover {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
}

.pagination .item:active {
	color: #323232;
	border-radius: 50%;
	background: rgb(255, 255, 255);
}